<div class="card">
  <h1 class="card__title"><%= @article.title %></h1>

  <p class="card__body"><%= @article.body %></p>

  <p> <%= @article.post_type_id %> </p>
</div>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<h2>Comments</h2>
<fieldset>
  <%= render @article.comments %>
</fieldset>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>